body {
    direction: ltr;
    height : auto;
    background: #ffffff;
}

.fixedheight {
    min-height: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
}


.footer {
    position: absolute;

    bottom: 0;
    /* add this */
    left: 0;
    width: 100%;
    padding: 15px 0;
}

.ui.footer.segment {
/*    margin: 5em 0em 0em;*/
    padding: 5em 0em;
    /*   background-image: url(../images/grid-pattern.png); */
    /*background: -webkit-gradient(linear, left bottom, left top, from(rgba(22,24,30,0.2)), to(#2b303b)),url(../images/grid-pattern.png); */
    /*    background: -webkit-linear-gradient(bottom, rgba(22,24,30,0.2), #2b303b),url(../images/grid-pattern.png);
    background: -o-linear-gradient(bottom, rgba(22,24,30,0.2), #2b303b),url(../images/grid-pattern.png);
    background: linear-gradient(to top, rgba(22,24,30,0.2), #2b303b),url(../images/grid-pattern.png); */
}





.background-dark {
    background-color: #1b1c1d;
}

.background-semi-dark {
    background-color: #f5f5f5;
}

.background-white {
    background-color: #ffffff;
}

.howitworkstab {
    border-top-left-radius: 200px!important;
    border-top-right-radius: 200px!important;
    box-shadow: 0px 0px 0px #888888;
    margin-top: -100px!important;
    background-color: #ffffff!important;
    padding-top: 40px!important;
    width: 100%!important;
}

.ui.mainbanner {
    height: 550px;
    background-attachment: fixed;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 40%, rgba(27, 28, 29, 1) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
}

.ui.featuresbanner {
    /*    height: 500px;*/
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative
}

.lowopacity {
    opacity: 0.9!important;
}

.ui.menu.frontpagemenu {
    background-color: transparent!important;
}

.ui.menu.regularmenu {
    margin: 0rem 0rem 1rem 0rem!important;
}

.menusubs:hover {
    color: #1a2b3c!important;
}

.hidden {
    display: none!important;
}

.wordwrap {
    word-wrap: break-word!important;
}

.introsegments:hover i {
    color: #2185d0!important;
    transform: scale(1);
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: background-color 0.5s ease;
}

.introsegments > .readmorelink > a {
    color: #1b1c1d!important;
    display: inherit;
}

.introsegments:hover > .readmorelink > a {
    display: inherit;
    color: #f2711c!imp/ortant;
}

.posclip {
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
}

.negclip {
    -webkit-clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.extrapadding {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.extramargin {
    margin-top: 25px;
}

.particles-js-canvas-el {
    top: 0;
    left: 0;
    height: 450px;
    position: absolute;
    z-index: -999;
}

.ui.fluid.parallax {
    width: 100%;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
    height: 40px;
    width: 200px;
}

.ui.secondary.pointing.menu {
    margin-left: 0em;
    margin-right: 0em;
    border-bottom: 2px solid rgba(33, 133, 208, 1);
}

.mainpagebanner.container {
    margin-top: 0em;
}

.main.container {
    margin-top: 3em;
}

.welcome-text {
    font-size: 3em!important;
    font-weight: 900!important;
}

.welcome-sub-text {
    font-size: 1.7em!important;
    font-weight: normal;
    font-weight: 400!important;
}

.wireframe {
    margin-top: 2em;
}

.ui.menu .item .ui.button {
    margin-left: 0.5em;
}

.banner-alt {
    background-image: url(../images/banner.png);
    height: 400px;
    width: 100%;
    margin-top: -1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.logo {
    margin-left: -15px;
    margin-top: 10px;
}

.admin-logo {
    margin-top: 10px;
}

#login-buttons .login-close-text {
    float: left;
    position: relative;
    padding-bottom: 8px;
    color : #212121!important;
}
.optextholder {
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    z-index: 10;
    display: none;
}

.featured_categories_rail,
.sub_categories_rail {
    display: none;
}

.vertical-align-middle {
    align-self: center;
}

.ribbon {
    z-index: 2;
}

.capitalize {
    text-transform: capitalize!important;
}

.uppercase {
    text-transform: uppercase!important;
}

.lowercase {
    text-transform: lowercase!important;
}

#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    color:#fff!important;
    font-size: inherit!important;
    text-decoration: none!important;
    text-transform: capitalize!important;
}

.profilepagebanner {
    /* background-image:url(../images/user-profile-bg.jpg);*/
    background-color: #1b1c1d;
    height: 300px;
    width: 100%;
    margin: -1em;
    padding-right: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.ui.star.rating .icon {
    color: whitesmoke!important;
}

.category-card-image {
    max-height: 130px;
    min-height: 130px;
}

.job-card-image {
    min-height: 258px;
    max-height: 258px;

}

.messagescroller {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.messagescroller::-webkit-scrollbar {
    width: 1em;
}

.messagescroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.messagescroller::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#page-landing_page #landing-page-hero {
    height: -webkit-calc(100vh - 128px);
    height: calc(100vh - 128px);
    max-height: 700px;
    min-height: 600px;
    /* background-color: #2b303b; */
    /* background: -webkit-gradient(linear, left bottom, left top, from(rgba(22,24,30,0.2)), to(#2b303b)),url(/images/grid-pattern.png); */
    /* background: -webkit-linear-gradient(bottom, rgba(22,24,30,0.2), #2b303b),url(/images/grid-pattern.png); */
    background: -o-linear-gradient(bottom, rgba(22, 24, 30, 0.2), #2b303b), url(/images/grid-pattern.png);
    /* background: linear-gradient(to top, rgba(22,24,30,0.2), #2b303b),url(/images/grid-pattern.png); */
    padding-top: 120px;
    overflow: hidden;
}

.whitetext {
    color: #FFF !important;
    opacity: 1!important;
}

.bluetext {
    color: #2185d0 !important;
}

.orangetext {
    color: #f2711c !important;
}

.violettext {
    color: #6435c9 !important;
}

.graytext {
    color: #767676 !important;
}
