<template name="order_confirm">
    <div class="ui main container">
        <div class="ui secondary pointing fluid menu">
            <h2 class="ui header">Order Confirmation</h2>
        </div>
        <div class="ui segment">
            <div class="ui relaxed middle aligned divided list">
                <div class="item">
                    <div class="item">
                        <div class="ui right floated basic teal horizontal label">R{{price}}</div>
                        <h2 class="ui sub header">I will {{title}} Job</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="item">
                        <div class="ui right floated teal horizontal label">R{{price}}</div>
                        <h2 class="ui header">Total</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui green button orderbutton">Purchase Now</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

