<template name="job_view">
    <div class="ui main container">
        <div class="ui secondary pointing fluid menu">
            <h2 class="ui blue header uppercase wordwrap">I will {{this.title}}</h2>
        </div>
            <div class="ui  stackable externally celled  grid">
                <div class="row">
                    <div class="twelve wide column">
                        <div class="row">
                            <div id="gallery">
                                <a class="fancybox" href="{{imageUrl}}">
                                    <img alt="img" src="{{imageUrl}}" />
                                </a>
                                {{#each gallery}}
                                    <a class="fancybox" href="{{this}}">
                                        <img alt="img" src="{{this}}" />
                                    </a>
                                {{/each}}
                            </div>
                        </div>
                        <div class="row">

                            <div class="ui styled fluid accordion">

                            <!--     <div class="title active">
                                    <h2>Job Name</h2>
                                </div>
                                <div class="content active">
                                    <h3 class="transition visible">I will {{this.title}}</h3>
                                </div>
 -->
                                <div class="title active capitalize">
                                    <i class="dropdown icon"></i>About this Job
                                </div>
                                <div class="content active">
                                    <p class="transition visible">{{{description}}}</p>
                                </div>

                                <div class="title active capitalize ">
                                    <i class="dropdown icon "></i>Additional information that the seller will need from you
                                </div>
                                <div class="content active">
                                    <p class="transition visible">{{{instructions}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                            <div class="ui segment">
                                <h3 class="ui center aligned icon header uppercase wordwrap">
                                    <i class="circular info circle icon"></i>
                                    {{highlight}}
                                </h3>
                                <div class="ui relaxed divided list">
                                    <div class="item">
                                        <i class="large wait middle aligned icon"></i>
                                        <div class=" middle aligned content">
                                            <a class="header capitalize">MAX {{maxDays}} DAYS DELIVERY</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="large refresh middle aligned icon"></i>
                                        <div class=" middle aligned content">
                                            <a class="header capitalize">UNLIMITED REVISIONS</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a class="fluid ui animated fade green button" href = "/orders/confirm/{{_id}}" tabindex="0">
                                            <div class="visible content uppercase ">Order this Job  R{{price}}</div>
                                            <div class="hidden bluetext content">
                                                R{{price}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui centered cards">
                                <div class=" card">
                                    <div class="content">
                                        <img class="right floated mini ui image" src="{{Seller.auxdata.picture}}">
                                        <div class="header wordwrap capitalize">
                                            {{Seller.auxdata.name}}
                                        </div>
                                        <div class="meta capitalize wordwrap">
                                            {{Seller.auxdata.tagline}}
                                        </div>
                                        <div class="description">
                                            {{Seller.auxdata.bio}}
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <a class="ui violet small button" href = "/profile/{{Seller._id}}">View Seller Profile</a>
                                            <a class="ui orange small button">Contact Seller</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</template>

