<template name="admin_job_view">
	
    <div class="ui two column divided relaxed grid">
    	<div class="row">
		    <div class="column">
		     	<div class="ui breadcrumb segment">
				  <a class="section" href="/admin/jobs">Jobs</a>
				  <div class="divider"> / </div>
				  <div class="active section">Job Details</div>
				</div>
		    </div>
	  	</div>
        <div class="stretched row">
            <div class="column">
                <div class="ui">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="header">Job Title</div>
                            I will {{this.title}}
                        </div>
                        <div class="item">
                            <div class="header">Owner</div>
                            {{ idtoname this.owner}}
                        </div>
                        <div class="item">
                            <div class="header">Created</div>
                            {{this.createdAt}}
                        </div>
                        <div class="item">
                            <div class="header">Last updated</div>
                            {{this.updatedAt}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui">
                     {{#autoForm collection=JobsCollection id="admin_job_edit_form" doc=this type="update" }}
                        <div class="ui four column padded grid">
                            <div class="row">
                                <div class="two wide column vertical-align-middle">
                                    <h2 class="ui center aligned header blue text">I will</h2></div>
                                <div class="ten wide column"> {{> afFieldInput name='title'}} </div>
                                <div class="two wide column vertical-align-middle">
                                    <h2 class="ui center aligned header blue text">for R</h2></div>
                                <div class="two wide column">{{> afFieldInput name='price'}}</div>
                            </div>
                        </div>
                        {{#if afFieldIsInvalid name='title' }}
                            {{afFieldMessage name='title'}}
                        {{/if}}
                        {{#if afFieldIsInvalid name='price' }}
                            {{afFieldMessage name='price'}}
                        {{/if}}
                        <div class="ui horizontal divider">
                           Complete the finer details
                        </div>
                        {{> afQuickField name='highlight'}} 
                        {{> afQuickField name='description'}} 
                        {{> afQuickField name='instructions'}} 
                        {{> afQuickField name='maxDays'}} 
                        {{> afQuickField name='parentCategory' options = ParentCategoryOptions }} 
                        {{> afQuickField name='subCategory' options = SubCategoryOptions}} 
                        {{> afQuickField name='imageUrl'}} 
                        {{> afQuickField name='gallery'}}
                        <button type="submit" class="ui green button">Update Job</button>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>

