<template name="admin_order_view">
	
    <div class="ui two column divided relaxed grid">
    	<div class="row">
		    <div class="column">
		     	<div class="ui breadcrumb segment">
				  <a class="section" href="/admin/orders">Orders</a>
				  <div class="divider"> / </div>
				  <div class="active section">Order Details</div>
				</div>
		    </div>
	  	</div>
        <div class="stretched row">
            <div class="column">
                <div class="ui">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="header">Category Name</div>
                            {{this.name}}
                        </div>
                        <div class="item">
                            <div class="header">Tags</div>
                            {{this.tags}}
                        </div>
                        <div class="item">
                            <div class="header">Featured</div>
                            {{isFeatured}}
                        </div>
                        <div class="item">
                            <div class="header">Image Url</div>
                            {{this.imageUrl}}
                        </div>
                        <div class="item">
                            <div class="header">Owner</div>
                            {{ idtoname this.owner}}
                        </div>
                        <div class="item">
                            <div class="header">Created</div>
                            {{this.createdAt}}
                        </div>
                        <div class="item">
                            <div class="header">Last updated</div>
                            {{this.updatedAt}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui">
                    {{> quickForm collection=OrdersCollection doc=this id="order_edit_form" type="update"}}
                </div>
            </div>
        </div>
    </div>
</template>

