<template name="home">
    <div class="ui middle aligned grid main ">
        <!--    <div class="ui secondary pointing fluid menu">
            <h2 class="ui header">HOW IT WORKS</h2>
        </div>
            <div class="ui grid">
                <div class="three column row">
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="settings icon"></i>
                            <div class="content">
                                Account Settings
                                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
                            </div>
                        </h2>
                    </div>
                    <div class="column">
                    </div>
                    <div class="column">
                    </div>
                </div>
            </div>
 -->
        <div class="row background-white">
            <div class="ui vertical stripe divided segment centered grid container">
                <div class="row">
                    <h1 class="ui blue header howitworkstab">{{Language.lang.howitworks_main_header}}</h1>
                    <div class="ui blue horizontal divider">
                        <i class="ui blue circle notched icon"></i>
                    </div>
                </div>
                <div class="row ">
                    <div class="ui stackable three column grid">
                        <div class="row">
                            <div class="column introsegments">
                                <h2 class="ui icon header">
                                    <i class="circular bordered inverted orange add to cart icon"></i>
                                        <div class="content">
                                            {{Language.lang.howitworks_1st_header}}
                                            <div class="sub header">{{{Language.lang.howitworks_1st_text}}}</div>
                                        </div>
                                </h2>
                            </div>
                            <div class="column introsegments">
                                <h2 class="ui icon header">
                                    <i class="circular bordered inverted violet credit card alternative icon"></i>
                                        <div class="content">
                                            {{Language.lang.howitworks_2nd_header}}
                                            <div class="sub header">{{{Language.lang.howitworks_2nd_text}}}</div>
                                        </div>
                                </h2>
                            </div>
                            <div class="column introsegments">
                                <h2 class="ui icon header">
                                    <i class="circular bordered inverted blue users icon"></i>
                                        <div class="content">
                                            {{Language.lang.howitworks_3rd_header}}
                                            <div class="sub header">{{{Language.lang.howitworks_3rd_text}}}</div>
                                        </div>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column introsegments">
                                <div class="ui center aligned container readmorelink bottom">
                                    <a class="ui orange header">View Our Featured Categories</a>
                                </div>
                            </div>
                            <div class="column introsegments">
                                <div class="ui center aligned container readmorelink bottom">
                                    <a class="ui violet header">Sign Up Now</a>
                                </div>
                            </div>
                            <div class="column introsegments">
                                <div class="ui center aligned container readmorelink bottom">
                                    <a class="ui blue header">Join Our Mailing List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centered background-white">
            <div class="ui vertical stripe divided inverted segment centered grid container">
                <div class="column">
                    <h2 class="ui inverted header">
                            <div class="content">
                                Subscribe to Our Mailing List
                                <div class="sub header">At least he won't reach his highest potential unless you enroll him in Cat University's 2013 class.</div>
                            </div>
                    </h2>
                    <div class="ui form eight wide subscribe column">
                        <div class="field">
                            <div class="ui fluid action input">
                                <input placeholder="Email Address" type="text">
                                <div class="ui huge inverted blue button">Subscribe Now</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--             <a class="twitter-timeline" data-width="300" data-chrome="noheader nofooter noborders transparent noscrollbar" data-height="300" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a>

            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->
        </div>
        <div class="ui row background-dark featuresbanner featuresrow" data-imgsrc="/images/featuresbanner.jpg">
            <div class="ui vertical stripe divided inverted segment grid container">
                <div class="centered row">
                    <h1 class="ui  middle aligned blue inverted header">{{Language.lang.features_main_header}}</h1>
                    <div class="ui large blue horizontal divider">
                        <i class=" large blue circle notched icon"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="ui middle aligned stackable grid container">
                        <div class="row extrapadding extramargin">
                            <div class="eight wide column ">
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="inverted sub header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                            </div>
                            <div class="eight wide right floated column">
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                                <h2 class="ui inverted header">
                                    <div class="content featuresitem ">
                                        We Help Companies and Companions
                                        <div class="sub inverted header">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</div>
                                    </div>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center aligned column">
                                <a class="ui huge inverted button">Check Them Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui row background-white">
            <div class="ui vertical stripe divided segment centered grid container">
                <div class="row">
                    <h1 class="ui blue header">OUR FEATURED CATEGORIES</h1>
                    <div class="ui large blue horizontal divider">
                        <i class=" large blue circle notched icon"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="ui">
                        <div class="ui dividing left rail featured_categories_rail">
                            {{#if FeaturedCategoryRailData}}
                                <div class="ui segment inverted">
                                    <div class="ui inverted relaxed divided list">
                                        {{#each FeaturedCategoryRailData}}
                                            <div class="item">
                                                <div class="content">
                                                    <div class="header very small">{{this}}</div>
                                                </div>
                                            </div>
                            {{else}}
                                <div class="item">
                                    <div class="content">
                                        <div class="header very small">No Tags</div>
                                    </div>
                                </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <div class="ui stackable four cards">
                            {{#each Categories}}
                                {{#if featured}}
                                    {{> featured_category}}
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui row background-semi-dark recentjobsrow">
            <div class="ui vertical stripe divided segment container">
                <div class="row centered">
                    <h1 class="ui blue centered header">MOST RECENT JOBS</h1>
                    <div class="ui large blue horizontal divider">
                        <i class=" large blue circle notched icon"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="ui">
                        <div class="ui stackable four cards">
                            {{#each RecentJobs}}
                                {{> job_card}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="featured_category">
    <a class="ui raised blue card" href="/sub_categories/{{_id}}">
        <div class="blurring dimmable fluid image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">View Category</div>
                    </div>
                </div>
            </div>
            <img class="category-card-image" src="{{imageUrl}}">
        </div>
        <div class="content">
            <div class="ui secondary pointing header center aligned">
                <h2 class="ui tiny header wordwrap">{{name}}</h2></div>
        </div>
        <div class="extra content">
            <i class="cubes blue icon"></i> Jobs: {{JobsPerCategory}}
        </div>
    </a>
</template>